body{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: aliceblue;
    margin: 0;
    height: auto;
    display: flex;
}

.action{
    border: 1px solid greens;
}

.actions{
    border: 1px solid red;
}

.actions-container{
    border: 1px solid blue;
}

.container{
    display: flex;
}